{% extends "pages/default" %}
{% import '_utilities/teaser' as post %}
{% set postQuery = craft.entries.section('posts').limit(10) %}
{% paginate postQuery as pageInfo, posts %}

{% block title %}
  {% if pageInfo.getPrevUrl() or pageInfo.getNextUrl() %}
  , Page {{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}
  {% endif %}
{% endblock %}

{% block landing %}
  <section class="container mx-auto mb-6 px-2 divide-y divide-slate-300 prose">
    {% for post in posts %}
      {{ post.teaser(post) }}
    {% endfor %}

    {% include '_partials/pagination' with { pageInfo: pageInfo } %}
  </section>
{% endblock %}
