{% extends "_layouts/default" %}

{% block content %}
  {% include '_partials/cover' %}
  <section class="page__content">
    {% include '_partials/content' %}
    {% block landing %}{% endblock %}
  </section>
{% endblock %}
{% set category = entry.categories.eagerly().one() ?? null %}
{% set tags = entry.tags.eagerly().all() ?? null %}
