{% extends "_layouts/default" %}

{% block content %}
  {% include '_partials/cover' %}
  <section class="page__content">
    {% if entry is defined %}
      {% include '_partials/content' %}
    {% endif %}
    {% block landing %}{% endblock %}
  </section>
{% endblock %}
