<aside class="group-block my-8">
  <div class="rounded bg-slate-100 p-8" {% if entry.textColor or entry.backgroundColor %}style="{% if entry.textColor %}color: {{ entry.textColor }};"{% endif %} {% if entry.backgroundColor %}style="background-color: {{ entry.backgroundColor }};{% endif %}>"{% endif %}>
    {{ entry.postContent }}
  </div>
</aside>